<?xml version="1.0"?>
<robot name="overseas_75_b_v_description" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- 引入各个模块的 xacro 文件，分别定义底盘、夹爪、升降平台、机械臂及关节 -->
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/woosh_agv.urdf.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/body_head_platform.urdf.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/left_hand.urdf.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/right_hand.urdf.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/rm75_b_v_left.urdf.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/rm75_b_v_right.urdf.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/joint.urdf.xacro"/>
  <!-- 在 Gazebo 仿真环境中添加控制传动配置及 Gazebo 专用插件 -->
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/rm75_b_v_left_transmission.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/rm75_b_v_right_transmission.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/body_head_platform_transmission.xacro"/>
  <xacro:include filename="$(find overseas_75_b_v_description)/urdf/common_gazebo.xacro"/>
</robot>
