<?xml version="1.0" encoding="utf-8"?>
<robot name="head_only">
  <!-- Base Link -->
  <link name="platform_base_link">
    <inertial>
      <origin xyz="-4.8033E-05 -0.05292 0.00070789" rpy="0 0 0" />
      <mass value="2.8992" />
      <inertia ixx="0.013327" ixy="3.14E-06" ixz="3.5257E-06" iyy="0.032331" iyz="6.163E-05" izz="0.021546" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/platform_base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/platform_base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Head Link 1 -->
  <link name="head_link1">
    <inertial>
      <origin xyz="-0.00017562 -0.015989 0.024926" rpy="0 0 0" />
      <mass value="0.049513" />
      <inertia ixx="1.6251E-05" ixy="-4.4281E-09" ixz="7.808E-08" iyy="2.2171E-05" iyz="-4.661E-07" izz="1.3605E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_link1.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Head Link 2 -->
  <link name="head_link2">
    <inertial>
      <origin xyz="-0.00051349 -0.027144 0.0551" rpy="0 0 0" />
      <mass value="0.23639" />
      <inertia ixx="0.00025664" ixy="-1.6537E-08" ixz="1.3993E-07" iyy="0.0005615" iyz="1.8036E-05" izz="0.00052625" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_link2.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Joint connecting platform_base_link to head_link1 -->
  <joint name="head_joint1" type="revolute">
    <origin xyz="0 -0.1018 0.126" rpy="0 0 0" />
    <parent link="platform_base_link" />
    <child link="head_link1" />
    <axis xyz="0 0 1" />
    <limit lower="-1.256" upper="1.256" effort="2" velocity="1.57" />
  </joint>

  <!-- Joint connecting head_link1 to head_link2 -->
  <joint name="head_joint2" type="revolute">
    <origin xyz="0 -0.02 0.044" rpy="0 0 0" />
    <parent link="head_link1" />
    <child link="head_link2" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.419" upper="0.419" effort="2" velocity="1.57" />
  </joint>
    <joint
    name="camera_joint"
    type="revolute">
     <limit lower="-0.419" upper="0.419" effort="2" velocity="1.57" />
    <origin
      xyz="-0.0032391 -0.051866 0.061606"
      rpy="0 0 0" />
    <parent
      link="head_link2" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.0016556 -0.01252 1.2156E-05"
        rpy="0 0 0" />
      <mass
        value="0.049778" />
      <inertia
        ixx="4.8577E-06"
        ixy="4.3442E-07"
        ixz="-6.2436E-10"
        iyy="3.075E-05"
        iyz="6.4645E-10"
        izz="3.0901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>